@import-normalize;

.game { 
  display: flex;
}

.captured-pieces {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board {
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
}

.square-dark,
.square-light {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-dark {
  background-color: slateblue;
  color: azure
}

.square-light {
  background-color: azure;
}

.legal-move {
  background-color: lime;
}

.piece-icon {
  height: 80%;
  width: 80%;
}

.piece--black,
.piece--white {
  height: 80%;
  width: 80%;
}

.piece--black,
.captured-piece--black-icon {
  fill: black;
  stroke: lightslategrey;
  stroke-width: 10px;
}

.piece--white,
.captured-piece--white-icon {
  fill: white;
  stroke: darkslategrey;
  stroke-width: 10px;
}

.captured-piece {
  height: 40px;
  width: 40px;
}

.captured-piece--black-icon,
.captured-piece--white-icon {
  height: 100%;
  width: 100%;
}

.captured-pieces__pieces-display {
  display: flex;
}