@import-normalize;

.board {
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
}

.square-dark,
.square-light {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-dark {
  background-color: slateblue;
  color: azure
}

.square-light {
  background-color: azure;
}

.legal-move {
  background-color: lime;
}

.piece-icon {
  height: 80%;
  width: 80%;
}

.piece--black,
.piece--white {
  height: 80%;
  width: 80%;
}

.piece--black {
  fill: black;
  stroke: lightslategrey;
  stroke-width: 10px;
}

.piece--white {
  fill: white;
  stroke: darkslategrey;
  stroke-width: 10px;
}